.paymentInformation{
    width:737px;
    margin-left: 351px;
    margin-top:40px;
    border: 2px solid #D8D8D8;
    margin-bottom: 211px;
}

.paymentInformation h5{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.84px;
    color: #000000;
    margin-left: 286.5px;
    margin-top: 23px;
    margin-bottom: 71px;
}

.payment-element{
    margin-left: 94px;
    margin-right: 94px;
}
.commandButtons{
    display: grid;
    margin-top: 64px;
    margin-left: 92px;
    grid-template-columns: repeat(2, 1fr);
    width: 547px;
    margin-bottom: 64px;
}

.commandButtons button{
    padding: 12px 32px 12px 32px;
}
.moveButtons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.moveButtons button{
    float: right;
}