.stepperTwoSteps {
  width: 250px;
  margin-left: 600px;
}
.stepperContainer {
  width: 100%;
  align-content: center;
  margin-bottom:  40px;
}

.stepperThreeSteps{
  width: 400px;
  margin-left: 550px;
}
