.productView {
  margin-left: 161px;
  margin-top: 32px;
  display: flex;
  margin-bottom: 128px;
}

.alert-hidden {
  opacity: 0;
  transition: opacity 250ms;
}

.alert-shown {
  opacity: 1;
  transition: opacity 250ms;
}
