.result{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 24px;
    row-gap: 40px;
    margin-left: 24px;
}
.resultItem img{
    width: 262px;
    height: 350px;
}
.resultItem{
    width: 262px;
}

.resultItem a{
    text-decoration: none;
}