.result {
  margin-left: 24px;
}
.resultViewGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  row-gap: 40px;
}

.resultViewList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 24px;
}

.resultViewGrid img {
  width: 262px;
  height: 350px;
}

.resultItem {
  width: 262px;
}

.resultItem a {
  text-decoration: none;
}

.chooseViewOptions {
  display: flex;
  justify-content: flex-end;
  width: 650px;
}

.viewOption {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #9b9b9b;
  margin-left: 27px;
}

.sortingProducts {
  border: 2px solid #d8d8d8;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #252525;
  padding: 12px 20px 12px 24px;
}

.chooseViewOptions .selected {
  color: #8367d8;
}

.viewOptionIcon {
  margin-right: 12px;
}

.shopViewOptions {
  display: flex;
  margin-bottom: 50px;
}

.sortIcon{
  margin-left: 98px;
}

.viewOption{
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #9B9B9B;
  margin-left: 27px;
}

.chooseOptions .selected{
  color:  #8367d8;
}

.viewOptionIcon{
  margin-right: 12px;
}

.sortingDropdown .sortMenuOption{
  width: 270px;
}
