.whitenav {
  width: 100%;
  display: flex;
}

#logo {
  margin-top: 17px;

  margin-right: 120px;
}

.navLogIn {
  margin-left: 638.5px;
  margin-bottom: 18px;
}

.navHome {
  margin-left: 164px;
  margin-bottom: 37px;
}

.search input[type="text"] {
  width: 548px;
  padding: 12px 20px 12px 20px;
  border: 1px solid #e3e3e3;
  margin-top: 16px;
  margin-bottom: 36.06px;
  color: #9b9b9b;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

#searchButton {
  position: absolute;
  top: 70px;
  margin-left: -50px;
  background-image: url("../../images/look.png");
  background-repeat: no-repeat;
  background-position: 95% center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 0px;
}

#exitButton {
  position: absolute;
  top: 70px;
  margin-left: -80px;
  background-image: url("../../images/exit.png");
  background-repeat: no-repeat;
  background-position: 95% center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 0px;
}

#searchField:focus-visible {
  outline: 1px solid #e3e3e3;
}

.menu {
  margin-left: 24px;
  margin-top: 30px;
  width: 340px;
  display: flex;
  flex-direction: row-reverse;
}

.menu a {
  margin-right: 40px;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #252525;
  text-decoration: none;
}

.menu a:focus {
  color: #8367d8;
  height: 19px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.menu a:hover {
  color: #8367d8;
  height: 19px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.searchAndMenu {
  width: 1000px;
  display: flex;
}
