.logIn {
    margin-left: 351px;
    border: 2px solid #D8D8D8;
    width: 738px;
    margin-bottom: 80px;
    padding-bottom: 64px;
}

.logIn h5 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.84px;
    color: #000000;
    margin-left: 330px;
    margin-top: 23px;
    margin-bottom: 71px;
}

.logIn form {
    margin-left: 95px;
    margin-right: 95px;
}

.userLogIn hr {
    background: #D8D8D8;
    border: 1px solid #D8D8D8;
    margin-bottom: 40px;
}

.logIn a {
    text-decoration: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #8367D8;
    margin-left: 306px;
}

.passwordIcon{
    font-size: 16px;
    width: 22px;
    height: 15px;
}
