.paging .css-10w330c-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background: #8367d8;
  color: #ffffff;
  border-radius: 0;
}

.paging
  .css-10w330c-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected:hover {
  background: #8367d8;
  color: #ffffff;
  border-radius: 0;
}

.paging .Mui-disabled,
.paging .css-g2z002-MuiSvgIcon-root-MuiPaginationItem-icon {
  color: #8367d8;
}

.paging .Mui-selected:hover{
  background-color: transparent;
}

.pagePicker {
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}
