.resetPasswordForm {
  margin-left: 351px;
  border: 2px solid #d8d8d8;
  width: 738px;
  padding: 23px 95px 64px 95px;
  margin-bottom: 80px;
}

.resetPasswordForm h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.84px;
  color: #000000;
  margin-left: 149px;
  margin-bottom: 71px;
}

.resetPassword hr {
  background: #d8d8d8;
  border: 1px solid #d8d8d8;
  margin-bottom: 40px;
}

.resetButtons {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.resetButtons button {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 260px;
}

.linkExpired p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #9b9b9b;
}
