.notification {
  padding-left: 160px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 100px;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
}

.notification a{
  text-decoration: none;
  margin-left: 5px;
}
.notification-success {
  background-color: #f0f3ee;
  color: #417505;
}

.notification-restricted{
  background-color: #F1EFFA;
  color: #252525;
  margin-bottom: 25px;
  padding-left: 50px;;
}

.notification-restricted a{
  color: #8367d8;
}

.notification-golden{
  background: rgba(248, 165, 8, 0.1);
  color: #252525;
  margin-bottom: 8px;
  padding-left: 50px;
}

.notification-golden a{
  color: #F8A508
}

.notification-info {
  color: #8367d8;
  background-color: #f1effa;
}
.notification-warning {
  background-color: #f6f2e5;
  color: #ab944e;
}

.notification p {
  margin: 0px 0px 0px 0px;
}

.alert-hidden {
  opacity: 0;
  transition: opacity 250ms;
}

.alert-shown {
  opacity: 1;
  transition: opacity 250ms;
}

.closeNotification{
  margin-left: auto;
  margin-right: 0px;
}
