.gallery {
  width: 453px;
}

.pictureGrid {
<<<<<<< HEAD
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 24.5px;
    row-gap: 10px;
=======
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 24.5px;
>>>>>>> main
}

.mainPicture {
  width: 453px;
  height: 622px;
}

.pictureGrid img {
  width: 71px;
  height: 97.5px;
}
