.gallery {
  width: 453px;
}

.pictureGrid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 24.5px;
  row-gap: 10px;
}

.mainPicture {
  width: 453px;
  height: 622px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainPicture img {
  object-fit: contain;
  max-width: 453px;
  max-height: 622px;
  height: auto;
  width: auto;
}
.pictureGrid img {
  width: 71px;
  height: 97.5px;
}
