.sortFilter {
  display: flex;
  color: #ffffff;
  background-color: #8367d8;
  padding-right: 15px;
}

.sortFilter h2{
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-right: 36px;
    margin-bottom: 0px;
}

.sortIcon{
  margin-top: 3px;
}
