.paymentOverview{
    width:737px;
    margin-left: 351px;
    margin-top:40px;
    border: 2px solid #D8D8D8;
    margin-bottom: 211px;
}

.paymentOverview h5{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.84px;
    color: #000000;
    margin-left: 183px;
    margin-top: 23px;
    margin-bottom: 71px;
}

.reviewContent{
    display: grid;
    margin-left: 94px;
    margin-right: 94px;
    row-gap: 24px;
}

.auctionContent{
    margin-left: 94px;
    margin-right: 94px;
    margin-top: 64px;
}

.readTerms{
    margin-left:94px;
    margin-top: 64px;
}

.readTerms a{
    color: #8367D8;
    text-decoration: none;
}

.navigationButtons{
    display: grid;
    margin-top: 64px;
    margin-left: 92px;
    grid-template-columns: repeat(2, auto);
    width: 547px;
    margin-bottom: 64px;
}

.navigationButtons .cancel{
    margin-right: 50px;
}
.navigationButtons button{
    padding: 12px 32px 12px 32px;
}

.optionButtons{
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.optionButtons button{
    float:right
}


