.bidding{
    background: #FFFFFF;
    border: 3px solid #8367D8;
    padding:8px 36px 0px 44px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.63px;
    text-transform: capitalize;
    color: #252525;
    height: 54px;
}

.button img{
    width: 5.33px;
    height: 10.67px;
    margin-left: 21.33px;
}


