.purpleBorder {
  background: #ffffff;
  border: 3px solid #8367d8;
  padding: 10px 36px 10px 44px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.63px;
  text-transform: capitalize;
  color: #252525;
}

.buttonIcon {
  font-size: 20px;
  margin-left: 21.33px;
  margin-bottom: 5px;
}

.purpleButton {
  background: #8367d8;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.63px;
  text-transform: capitalize;
  color: #ffffff;
  border: 3px solid #8367d8;
  padding: 16px 56px 16px 56px;
}

.userManagment {
  width: 565px;
  margin-bottom: 48px;
}

.disabledButton {
  pointer-events: none;
  border: 3px solid #c1b3eb;
  color: #9b9b9b;
}

.cancel {
  border: 3px solid #d8d8d8;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.63px;
  text-transform: capitalize;
  color: #252525;
  background-color: #ffffff;
}

.removeButton{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-top: -14px;
  padding: 6px 15px 6px 15px;
}