.App {
  position: relative;
  min-height: 56.2vh;
}

.content {
  padding-bottom: 2.5rem; /* Footer height */
}

.foot {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}
