.auctionHeaders {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.auctionHeaders h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #252525;
}

.auctionItem{
  display: flex;
}

.auctionItem img {
  width: 80px;
  height: 80px;
}

.auctionPrice{
  float:right;
}

.auctionItemInfo {
  width: 332px;
  margin-left: 16px;
  margin-right: 57px;
}
.auctionItemInfo h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.63px;
  text-transform: capitalize;
  color: #000000;
  opacity: 1;
  padding-top: 0px;
  padding-bottom: 0px;
}

.auctionItemInfo h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8367d8;
}

.auctionItem h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.63px;
  text-transform: capitalize;
  color: #000000;
  opacity: 1;
  padding-top: 27px;
}


